<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center;">
    <h1>WELCOME TO ANALYZE </h1>
    <form action="/analyze">
    <div class="form-group">
        <textarea class="form-control" rows="5" id="comment" style="margin: 0px; width: 660px; height: 324px;" name="text"></textarea>
      </div>

      <br>
      <br>
    <div class="checkbox">
        <label><input type="checkbox" name="cap">Capitalize</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="low">Lowercase</label>
      </div>
      <br>  
      <button type="submit">SUBMIT</button>
    </form>
</body>
</html>